@import url("/static/css/color_palette.css");

.side-nav {
    /* sidebar takes full size */
    height: 500px;
    position: absolute;

    width: 200px;
    background: var(--grey-background);
    z-index: 0;
}


.side-nav__content {
    /* Take full height */
    height: 100%;
    position: fixed;
    width: 200px;

    /* Background */
    background: transparent;
}